
body{
    background-color:#171717;

}
.container{
    max-width:1480px;
    margin:0 auto;
    /* padding: 30px 210px; */
    
}

.contacts{
    /* padding-top: 46px;
    padding-bottom: 30px; */
    display: flex;
    justify-content: space-between;
    /* padding: 47px 230px 128px 230px; */
    padding-top: 40px;
    /* width: 100%; */
    /* margin-left: 230px;
    margin-top: 50px; */
    margin-bottom: 125px;
  ;
}
.contacts-info{
display: flex;
justify-content: space-between;


}
.accent-c1{
    color:#D6AF76;
}
.contact{
    margin-right: 40px;
    align-self: center;
    color:white;
    font-size: 19px;
    line-height: 28px;
}
.contact-num{
    align-self:center;
    color: #e4b564;
    padding: 10px 25px 10px 49px;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
    background-image: url(/images/Vector.png);
    background-repeat: no-repeat;
  background-position: left 26px top 18px;
}
.section-title{
    font-size: 50px;
    font-weight: bold;
    line-height: 28px;
    color:#fff;
    margin: 0;
    padding-bottom: 41px;
    /* padding-top: 125px; */
}
.section-text{
    /* font-weight: bold; */
    font-size: 20px;
    line-height: 28px;
    color:#fff;
    margin: 0;;

}
.heating-network{
    display: grid;
    grid-template-columns: repeat(6,234px);
     grid-template-rows: repeat(4,234px);
    grid-template-areas: "item1 item1 item2 item2 item3 item3"
                         "item1 item1 item2 item2 item3 item3"   
                         "item4 item4 item4 item5 item5 item5"
                         "item4 item4 item4 item5 item5 item5";
                         justify-content: space-between;
    column-gap:15px;
    row-gap: 27px;
    padding-top: 40px;
                                                                                  
    
}
.kind-of-stations{
    padding-bottom: 160px;
}
.heating-item{
    /* height: 468px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 28px;
    color:#fff;
    text-align: center;
}
.heating-item1{
    grid-area: item1;
    background-color:#634F2C;
}
.heating-item2{
    grid-area: item2;
    background-color:#B4A385;
}
.heating-item3{
    grid-area: item3;
    background-color:#E4B564;
}
.heating-item4{
    grid-area: item4;
    background-color:#635A4A;
}
.heating-item5{
    grid-area: item5;
    background-color:#B08C4D;
}

.heating-item{
    /* border:1px solid wheat; */
    margin-right: 230px;
}

.transports{
    display:grid;
    grid-template-columns: repeat(3,473px);
    grid-template-rows: repeat(6,145px);
    grid-template-areas: "tr1 tr2 tr3"
                          "tr1 tr2 tr3"
                          "tr4 tr2  tr5"
                          "tr4 tr6   tr5 "
                          "tr4  tr6  tr7"
                          "tr4 tr6   tr7";
                          column-gap:30px;
                          row-gap: 24px;
                          padding-bottom: 190px;
                          padding-top: 95px;
   
}
.transport-name{
    padding-top: 44px;
    padding-left: 52px;
    color:#fff;
    font-size: 20px;
    line-height: 100%;
    font-weight: 700;
}
.types-of-machine{
    display:block;
    margin-top: 15px;
}
.transport-name1{
    grid-area:tr1;
    background-color:#0E0E0E;
}
.transport-name2{
    grid-area:tr2;
    background-color:#242424;
}
.transport-name3{
    grid-area:tr3;
    background-color:#1F1F1F;
}
.transport-name4{
    grid-area:tr4;
    background-color:#1F1F1F;
}
.transport-name5{
    grid-area:tr5;
    background-color:#E4B564;
}
.transport-name6{
    grid-area:tr6;
    background-color:#0E0E0E;
}
.transport-name7{
    grid-area:tr7;
    background-color:#0A0909;
}

.navmenu{
    display: flex;
    justify-content: space-between;
    align-items:center;

}

.client-info{
    padding: 10px 40px;
    font-size: 18px;
    line-height: 30px;
    border:1px solid #E4B564;
    color:#E4B564;
    margin: 0;
}
.clients{
    display: grid;
    grid-template-columns: repeat(3,491px);
    grid-template-rows: repeat(2,391px);
    grid-template-areas: "pj1 pj2 pj3"
                        "pj4 pj5 pj6";
                        justify-content: center;
                        gap:0;
                        padding-top: 72px;
                        padding-bottom: 50px;

}
.project-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    /* border:1px solid white; */
}
.project-item1{
    grid-area: pj1;
    background-color:#634F2C;
    
}
.project-item2{
    grid-area: pj2;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    color:#fff;
    padding:16px 80px 61px 80px;
    background-color: rgba(232, 210, 171, 0.76);
}
.project-item3{
    grid-area: pj3;
    background-color:#E4B564;
}
.project-item4{
    grid-area: pj4;
    background-color:#635A4A;
}
.project-item5{
    grid-area: pj5;
    background-color:#B08C4D;

}
.project-item6{
    grid-area: pj6;
    background-color:#634F2C;
}


